<header class="glass-header">
    <!-- <div class="stats-container">
      <div class="stat-item">
        <i class="bi bi-people"></i>
        <span>{{ studentCount }} طالب</span>
      </div>
      <div class="stat-item">
        <i class="bi bi-person-video3"></i>
        <span>{{ teacherCount }} أستاذ</span>
      </div>
      <div class="stat-item">
        <i class="bi bi-journal-bookmark"></i>
        <span>{{ lessonCount }} حصة</span>
      </div>
    </div>
     -->
    <div class="search-container" style="position: relative; width: 200px; height: 40px; margin-right: 10px; margin-left: 10px; margin-top: 10px; margin-bottom: 10px;">
      <input type="text" placeholder="ابحث" [(ngModel)]="searchTerm" style="width: 100%; height: 100%; padding-left: 35px; border-radius: 20px; border: 1px solid #ccc; outline: none;">
      <i class="bi bi-search" style="display: inline-block; position: absolute; top: 50%; left: 10px; transform: translateY(-50%); color: #999;"></i>
    </div>
    
    <div class="logo">
      <i class="bi bi-people-fill"></i>
    </div>
  
    <div class="user-actions">
      <div class="notification-badge">
        <i class="bi bi-bell"></i>
        <span class="dot">{{ notificationCount }}</span>
      </div>
      <div class="profile-pill">
        <span>{{ userName }}</span>
        <img [src]="userAvatar" alt="Avatar">
      </div>
    </div>
  </header>